<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>UenoAPI</title>
  </head>
  <body>
    <table>
      <tr>
        <td><a href='/author/'>Author</a></td>
        <td><a href='/publisher/'>Publisher</a></td>
        <td><a href='/book/'>Book</a></td>
        <td> | </td>
        <td><a href='/'>API</a></td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
