<!DOCTYPE html>

<script type="text/javascript">
  <!--
    function CreateCheck() {
      var name_str = document.getElementById('name').value;
      var kana_str = document.getElementById('name_kana').value;
      if( name_str.match(/.+/) && kana_str.match(/.+/) ) {
        return KanaCheck();
      } else {
        alert("未入力項目があります");
        return false;
      }
    }

    function KanaCheck() {
      var str = document.getElementById('edit_name_kana').value;
      if( str.match( /[^ぁ-ん0-9０-９]+/ ) ) {
        alert("「かな」欄に登録出来るのは、ひらがなと全角数字のみです。");
        return false;
      }
    }

    function DeleteCheck(name) {
      if(!confirm(name + "を削除します。よろしいですか？")) {
        return false;
      }
    }
  // -->
</script>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>UenoAPI</title>
    <script src="/js/jquery-1.11.1.js"></script>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div class='head'>
      <ul class="nav nav-tabs" role="tablist">
        <% nav_link_set.each do |link_data| %>
          <% if link_data[1] == request.path_info %>
            <li class='active'>
          <% else %>
            <li>
          <% end %>
              <a href=<%= link_data[1] %>><%= link_data[0] %></a>
            </li>
        <% end %>
      </ul>
    </div>
    <div class='content' align='center'>
      <div class='yield' style='width: 95%;'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
