<!DOCTYPE html>

<script type="text/javascript">
  <!--
    function ChgMyText() {
    　document.getElementById('mytext').innerHTML = 'BBBB';
    }

    function KanaCheck() {
      var str = document.getElementById('name_kana').value;
      if( str.match( /[^ぁ-ん0-9０-９・　\s]+/ ) ) {
        alert("「かな」欄に登録出来るのは、ひらがなと全角数字と'・'のみです。");
        return false;
      }
    }
  // -->
</script>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>UenoAPI</title>
  </head>
  <body>
    <table>
      <tr>
        <td><a href='/'>TOP</a></td>
        <td> | </td>
        <td><a href='/author/'>Author</a></td>
        <td><a href='/publisher/'>Publisher</a></td>
        <td><a href='/book/'>Book</a></td>
        <td> | </td>
        <td><a href='/search/'>Search</a></td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
