<!DOCTYPE html>

<script type="text/javascript">
  <!--
    function CreateCheck() {
      var name_str = document.getElementById('name').value;
      var kana_str = document.getElementById('name_kana').value;
      if( name_str.match(/.+/) && kana_str.match(/.+/) ) {
        return KanaCheck();
      } else {
        alert("未入力項目があります");
        return false;
      }
    }

    function KanaCheck() {
      var str = document.getElementById('name_kana').value;
      if( str.match( /[^ぁ-ん0-9０-９]+/ ) ) {
        alert("「かな」欄に登録出来るのは、ひらがなと全角数字のみです。");
        return false;
      }
    }

    function DeleteCheck() {
      var disp_name = document.getElementById('disp_name').innerText;
      if(!confirm(disp_name + "を削除します。よろしいですか？")) {
        return false;
      }
    }
  // -->
</script>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>UenoAPI</title>
  </head>
  <body>
    <table>
      <tr>
        <td><a href='/'>TOP</a></td>
        <td> | </td>
        <td><a href='/author/'>Author</a></td>
        <td><a href='/publisher/'>Publisher</a></td>
        <td><a href='/book/'>Book</a></td>
        <td> | </td>
        <td><a href='/search/'>Search</a></td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
